@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Sølvkikkert.dk</h1>
    <img class="image" src="~/Images/Soelvkikkert.png" width="1080" height="720"/>
</div>
