@page
@model Soelvkikkert.Pages.AdministratorModel;
@{
    ViewData["Title"] = "Administrator";
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" href="Products/Index.cshtml" role="button">Administrer Produkter</a>
<a class="btn btn-primary" href="Subscribers/Index.cshtml" role="button">Administrer Abonnenter</a>


