@page
@model Soelvkikkert.Pages.AdministratorModel;
@{
    ViewData["Title"] = "Administrator";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fornavn</th>
      <th scope="col">Efternavn</th>
      <th scope="col">Email</th>
      <th scope="col">Tlf</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      @{
          for(int i = 0; i <= 10; i++){
            <tr>
            <th scope="row">@i</th>
            <td>Johhni</td>
            <td>Otto</td>
            <td>hansi@noget.com</td>
            <td>888888888</td>
            <td>Aktiv</td>
            </tr>
          }
      }

  </tbody>
</table>
