@model IEnumerable<MVCLogin.Models.Product>

@{
    ViewData["Title"] = "Produkter";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @{
            foreach (var product in Model)
            {
                <div class="card m-3" style="width: 18rem;">
                    <img src="~/images/@product.ImagePath" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p>@product.Description</p>
                        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id=@product.ID class="btn btn-primary">Link til produkt</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
