@model List<MVCLogin.Models.Product>
@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Sølvkikkert.dk</h1>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->

    @{
        for(int i=0; i < Model.Count; i++)
        {
            <div class="mySlides">
                <div class="numbertext">@(i+1) / @Model.Count</div>
                <img src="~/images/Products/@Model[i].ImageName" style="width:1000px; height:530px">
                <div class="text">
                    <p style="font-size:32px; font-weight:bold; margin-bottom:2px; -webkit-text-stroke: 2px black;">@Model[i].Name</p>
                    <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id=@Model[i].ID class="btn btn-primary">Link til produkt</a>
                </div>
            </div>
        }
    }
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
     @{ 
         for(int i=0; i < Model.Count; i++)
         {
             <span class="dot" onclick="currentSlide(@(i+1))"></span>
         }
     }
</div>

@section Scripts{
    <script src="~/js/SlideShow.js"></script>
}
